.cards__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.card{
    border-radius: 0.3rem;
    background-color: var(--dark-color);
    &__info{
        padding: 2rem;

        &--title{
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
}