.header{
    position: fixed;
    left:calc(50% - 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
    padding: 2rem;
    width: 80%;
    height: 80px;
    margin-bottom: 2rem;
    background-color: var(--dark-color);
    z-index: 200;
}
