@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background);
  color: var(--light-color);
  z-index: 100;
  transition: transform 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(0);

  &__container {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: center;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    opacity: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 10%;
    
  }

  &__img{
    object-fit: cover;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
  }

  &__img-container {
    position: relative;
   
    max-width: 40%;
    
    min-height: 350px;
    max-height: 350px;

   

    
  }
  
  &__info {
    max-width: 600px;
    min-width: 600px;
  }

  
}

.cross {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20px;
  cursor: pointer;
  
}

.modal-text{
  display: flex;
  justify-content: space-between;
  
  gap:100px;
}

.modal--show {
  
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  transform: scale(1);
}

.modal__container--show {
  
  transition: opacity 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  opacity: 1;
}

.modal__border{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  gap: 10px;

  &__button{
    padding: 1rem;
      background-color: transparent;
      color: var(--light-color);
      border: solid 1px var(--light-color);
      &:hover {
        @include hover {
          background-color: var(--dark-background);
          color: var(--light-color);
          transition-property: transform, background-color, height;
          transition-duration: 0.5s;
     
         
          cursor: pointer;

        }
      }
  }
}